.breadcrumbs-product {

    margin-bottom: 61px;
    background-color: rgba(255, 122, 80, 0.1);
    padding: 24px 0;

    @include mxw($sm) {
        margin-bottom: 45px;

    }

    &__padding {
        padding-top: 183px;

        @include mxw($sm) {
            padding-top: 90px;

        }
    }

    &__next {
        font-size: 14px;
        line-height: 1.2;
        color: #C1C1C1;
    }

    &__menu {
        display: flex;
    }

    &__item {
        color: #505050;
        font-size: 14px;
        line-height: 1.2;
        padding-right: 17px;
        letter-spacing: 0.03em;
        position: relative;

        &--adaptive {
            @include mxw($xs) {
                display: none;
            }
        }

        &::after {
            position: absolute;
            content: '';
            width: 5px;
            height: 10px;
            color: #C1C1C1;
            top: 4px;
            right: 5px;
            background-image: url('../images/sprite.svg#chevron');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &:last-child {
            &::after {
                opacity: 0;
            }
        }

    }

    &__place {

        &--adaptive {
            @include mxw($xs) {
                display: none;
            }
        }
    }

}