body,
html {
    background-color: #F9FAFF;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Rubik';
    font-weight: 400;
    font-style: normal;
    height: 100%;
    color: $text-color;
}

.lock {
    overflow: hidden;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 15px;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    @include mxw($sm) {
        padding: 0 15px;
    }
}

.section {
    padding-bottom: 120px;

    @include mxw($xs) {
        padding-bottom: 34px;
    }
}

.logo {
    border-radius: 5px;
    transition: box-shadow .5s linear, opacity .5s linear;


    &__color {
        color: $accent-color;
    }

    &:focus {
        box-shadow: 0 0 0 2px $border-color;
    }

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.5;
    }


    .logo--active {

        width: 115px;
        height: 25px;

    }


}

.show__more {
    text-decoration: underline;
    text-decoration-color: #363853;
    color: $menu-color;
    border-radius: 5px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    transition: box-shadow .6s linear, color .5s linear, text-shadow .3s linear, text-decoration-color .5s linear;


    @include mxw($xs) {
        font-size: 16px;
        line-height: 1.5;
    }

    &--center {
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        @include mxw($xs) {
            font-size: 20px;
            line-height: 1.5;
        }
    }

    &:focus {
        box-shadow: 0 0 0 2px $border-color;
        text-decoration-color: transparent;
    }

    &:hover {
        color: $accent-color;
        text-decoration-color: transparent;
    }

    &:active {
        text-shadow: 2px 2px 5px $text-shadow;
        text-decoration-color: transparent;
    }

   
}


.button {
    padding: 10px 30px;
    margin-right: 22px;
    border-radius: 5px;
    cursor: pointer;
    background-color: $accent-color;
    color: #fff;
    border: transparent;
    transition: background-color .4s linear, box-shadow .5s linear, color .5s linear;

    &:focus {
        background-color: $button-background;
        box-shadow: 0 0 0 2px $border-color;
        color: $accent-color;
    }

    &:hover {
        background-color: $button-background;
        box-shadow: 0 5px 12px rgba(255, 104, 56, 0.2), 0 0 0 2px $border-color;
        color: $accent-color;
    }

    &:active {
        background-color: $button-background;
        color: $accent-color;
    }

    @include mxw($xs) {
        padding: 8px 25px;
        font-size: 14px;
        line-height: 1.3;
    }
}

.title {
    font-weight: 500;
    ;
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    color: #363853;

    @include mxw($sm) {
        font-size: 24px;
        line-height: 1.3;
        
        margin-bottom: 19px;
    }
}



