.app {
    padding-bottom: 100px;
    .app-info {
        max-width: 540px;
        transform: translateY(8px);
        

        &__title {
            font-weight: 500;
            line-height: 1.3;
            font-size: 36px;
            color: $menu-color;
            margin-bottom: 45px;
        }

        &__text {
            font-size: 20px;
            margin-bottom: 30px;
        }

        &__btn {
            display: inline-block;
            height: 40px;
            @extend %images-position;
            border-radius: 5px;
            &--store {
                width: 120px;
                background-image: url('../images/sprite.svg#app_store');
                margin-right: 25px;
            }

            &--google {
                width: 135px;
                background-image: url('../images/sprite.svg#google-play');
            }

        }
    }

    .app-img {
        max-width: 570px;
        width: 100%;
        height: 380px;
        object-fit: contain;
    }
}