.header {

    

    &__logo {
        @include mxw($xs) {
            width: 115px;
            height: 25px;
            position: relative;
            left: 10px;
            top: -7px;
        }
    }

    .sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #F9FAFF;
        z-index: 100;
        opacity: 0;
    }

    .menu__animation {
        transition: opacity .4s linear;
    }

    .opacity {
        opacity: 1;
    }

    &__fixed {
        position: sticky;
        margin: 0 auto;
        max-width: 1170px;
        z-index: 90;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 0;

        @include mxw($md) {
            padding: 25px 5px;
        }

        @include mxw($sm) {
            padding: 22px 5px;
        }

        @include mxw($xs) {
            padding: 24.5px 5px;
        }

    }

    &__menu {
        display: flex;

        @include mxw($xs) {
            transform: translateX(-9px);
        }
    }

    .menu__padding {
        padding: 10px 30px;
    }

    &__navigation {
        display: flex;
        margin-right: 50px;

        @include mxw($sm) {
            display: none;
        }
    }

    &__item {
        margin-right: 45px;

        &:last-child {
            margin-right: 0;
        }

    }

    &__link {
        @extend %rubik-400;
        font-size: 18px;
        line-height: 21px;
        color: $text-color;
        transition: box-shadow .6s linear, color .5s linear, text-shadow .3s linear;
        border-radius: 5px;


        &--active {
            color: $accent-color;
        }

        &:focus {
            box-shadow: 0 0 0 2px $border-color;
        }

        &:hover {
            color: $accent-color;
        }

        &:active {
            text-shadow: 2px 2px 5px $text-shadow;
        }

    }


    &__button {
        display: flex;

        @include mxw($sm) {
            margin-right: 30px;
        }
    }

    &__list {
        position: relative;
        cursor: pointer;
        width: 45px;
        margin-right: 10px;


        &:last-child {
            margin-right: 0;
        }
    }

    &__icon {
        position: absolute;
        border: transparent;
        background-color: transparent;
        cursor: pointer;
        width: 44px;
        height: 44px;
        top: -10px;
        border-radius: 5px;
        transition: background-color .9s ease-in-out, box-shadow .5s linear;

        @include mxw($sm) {
            width: 52px;
        }

        &::after {
            content: '';
            position: absolute;
            z-index: 0;
            width: 20px;
            height: 20px;
            top: 12px;
            right: 12px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            filter: invert(20%) sepia(9%) saturate(2295%) hue-rotate(198deg) brightness(93%) contrast(88%);
            transition: background-color .8s, box-shadow .5s linear, filter .6s;
        }

        &--search {

            &::after {
                background-image: url('../images/sprite.svg#icon-search');
            }
        }

        &--basket {
            &::after {
                background-image: url('../images/sprite.svg#icon-cart');
            }
        }

        &:focus {
            background-color: $button-background;
            box-shadow: 0 0 0 2px $border-color;
        }

        &:hover {
            background-color: $accent-color;
        }


        &:active {
            background-color: $active-bg;
        }

        &:hover::after {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
        }

        &:active::after {
            filter: none;
        }

        &:hover {
            .header__number {
                background-color: $white;
                color: $accent-color;
                transition: background-color .6s, color .6s;
            }
        }

        &:active {
            .header__number {
                background-color: $accent-color;
                color: $white;
            }
        }

    }


    &__number {
        position: absolute;
        z-index: 4;
        height: 12px;
        min-width: 12px;
        padding: 3px;
        text-align: center;
        font-size: 10px;
        line-height: 6px;
        right: 5px;
        top: 8px;
        border-radius: 7px;
        color: $white;
        background-color: $accent-color;
    }
}

.burger {
    display: none;



    @include mxw($sm) {
        display: block;
        width: 40px;
        height: 30px;
        position: relative;
        color: #ffffff;
        cursor: pointer;
        border: transparent;
        background-color: transparent;


        &__line {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 2px;
            background-color: black;
            transition: transform 0.3s ease-in-out;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: black;
            transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
        }

        &::before {
            top: 0;
        }

        &::after {
            top: calc(100% - 2px);
        }
    }

    @include mxw($xs) {
        width: 30px;
        height: 20px;
        transform: translateX(-8px);
    }


}


.mobile {
    background-color: #ffffff;
    position: absolute;
    transform: translateX(-400%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 300px;
    transition: transform .6s linear;
    z-index: 100;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
    }

    &__button {
        width: 30px;
        height: 30px;
        position: relative;
        background-color: transparent;
        cursor: pointer;

        &::after,
        &::before {
            position: absolute;
            content: '';
            width: 18px;
            height: 2px;
            background-color: black;
        }

        &::after {
            top: 14px;
            transform: rotate(45deg);
        }

        &::before {
            top: 14px;
            transform: rotate(-45deg);
        }
    }

    &__logo img {
        padding: 25px 0 25px 15px;
        z-index: 20;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 25px 0 25px 15px;
        border: 1px solid #EEEFF3;
        background-color: #fff;
    }

    &__item {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        background-color: #fff;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $text-color;
        transition: box-shadow .6s linear, color .5s linear, text-shadow .3s linear;
        border-radius: 5px;


        &--active {
            color: $accent-color;
        }

        &:focus {
            box-shadow: 0 0 0 2px $border-color;
        }

        &:hover {
            color: $accent-color;
        }

        &:active {
            text-shadow: 2px 2px 5px $text-shadow;
        }

    }

    &__contacts {
        padding-left: 15px;
    }
}

.mobile-contacts {
    padding-left: 15px;
    background-color: #fff;
    width: 300px;
    height: 100vh;

    @include mxw($md) {
        order: 2;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    &__list {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 15px;
        }
    }

    &__links {
        position: relative;
        padding-left: 30px;
        font-size: 16px;
        line-height: 2;
        font-weight: 400;
        font-style: normal;
        color: $text-color;
        border-radius: 5px;
        white-space: nowrap;
        background-repeat: no-repeat;
        transition: color .5s linear, box-shadow .5s linear;

        &:focus {
            box-shadow: 0 0 0 2px $border-color;
        }

        &:hover {
            color: $accent-color;

        }

        &:active {
            text-shadow: 2px 2px 5px $text-shadow;
        }

        &::after {
            content: '';
            position: absolute;
            width: 19px;
            height: 18px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            left: 0;
            top: 2px;
        }


        &--message {
            &::after {
                background-image: url('../images/sprite.svg#icon-message');
            }
        }

        &--call {
            &::after {
                background-image: url('../images/sprite.svg#icon-call')
            }
        }

        &--location {
            &::after {
                background-image: url('../images/sprite.svg#icon-location')
            }
        }
    }

    &__messengers {
        display: flex;
        
    }

    &__item {
        margin-right: 12px;
        position: relative;
        display: inline-block;
        background-color: $border-card;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color .5s linear, box-shadow .5s linear;


        &:focus {
            background: $active-bg;
            box-shadow: 0 0 0 2px $border-color;
        }

        &:hover {
            background-color: $accent-color;
        }

        &:active {
            background: $active-bg;
            box-shadow: 0 0 0 2px $border-color;
        }



        &:last-child {
            margin-right: 0;
        }

        &:hover  {
            .mobile-contacts__social {
                filter: invert(100%) sepia(1%) saturate(3602%) hue-rotate(257deg) brightness(100%) contrast(96%);
            }
        }

        &:active {
            .mobile-contacts__social {
                filter: invert(34%) sepia(17%) saturate(6951%) hue-rotate(326deg) brightness(102%) contrast(105%);
            }
        }

    }

    &__social {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 10px;
        left: 10px;
        object-fit: cover;
        @extend %images-position;
        transition: filter .8s linear;

    }
}

.menu--active {
    transform: translateX(0);
}