<section class="about-product">
    <div class="box">
        <div class="container">
            <div class="about-product__flex">

                <div class="about-product__wrapper">
                    <div class="about-product__arrow">

                    </div>
                    <div class="about-product__gallery">
                        <img class="about-product__photo" src="images/product-page-images/burger.jpg"
                            alt="Картинка товару">
                        <img class="about-product__photo" src="images/product-page-images/burger.jpg"
                            alt="Картинка товару">
                        <img class="about-product__photo" src="images/product-page-images/burger.jpg"
                            alt="Картинка товару">
                        <img class="about-product__photo" src="images/product-page-images/burger.jpg"
                            alt="Картинка товару">
                    </div>

                </div>

                <div class="about-product__box">
                    <h2 class="title about-product__name">Чизбургер с листьями салата</h2>

                    <div class="star" data-rateyo-rating="4"></div>

                    <span class="about-product__price">
                        160 <span class="currency">грн.</span>
                    </span>

                    <input class="about-product__quantity" type="number" value="1" min="0">

                    <button class="button about-product__button" type="button">
                        Добавить в корзину
                    </button>

                    <h3 class="about-product__title">
                        Доставка и оплата
                    </h3>

                    <ul class="about-product__list">
                        <li class="about-product__item">
                            <p>Минимальная сумма заказа — 160 грн.</p>
                        </li>
                        <li class="about-product__item">
                            <p>Время доставки заказа — 80-140 мин.</p>
                        </li>
                        <li class="about-product__item">
                            <p>Оплата осуществляется только банковской картой.</p>
                        </li>
                        <li class="about-product__item">
                            <p>Окончательная сумма заказа формируется после сбора товаров.</p>
                        </li>
                    </ul>

                    <button class="show__more about-product__more" type="button">Подробнее</button>
                </div>
            </div>
        </div>

        <div class="about-product__end">
            <button class="about-product__close" type="button">
                <span class="sr-only">Закрити меню </span>
            </button>
            <div class="about-product__popup">

                <img class="about-product__photo about-product__photo--big" src="images/product-page-images/burger.jpg"
                    alt="Картинка товару">
                <img class="about-product__photo about-product__photo--big" src="images/product-page-images/burger.jpg"
                    alt="Картинка товару">
                <img class="about-product__photo about-product__photo--big" src="images/product-page-images/burger.jpg"
                    alt="Картинка товару">
                <img class="about-product__photo about-product__photo--big" src="images/product-page-images/burger.jpg"
                    alt="Картинка товару">

            </div>
        </div>
    </div>
</section>