<section class="breadcrumbs-product">
    <div class="container">
        <ul class="breadcrumbs-product__menu">
            <li class="breadcrumbs-product__item">
                <a class="breadcrumbs-product__place" href="index.html">
                    Главная
                </a>
            </li>
            <li class="breadcrumbs-product__item breadcrumbs-product__item--adaptive">
                <a class="breadcrumbs__place breadcrumbs-product__place--adaptive" href="catalog.html">
                    Каталог товаров
                </a>
            </li>
            <li class="breadcrumbs-product__item">
                <span class="breadcrumbs-product__place" href="#">
                    Чизбургер с листьями салата
                </span>
            </li>

        </ul>
    </div>
</section>