<section class="catalog">
    <div class="container">
        <div class="catalog__header">
            <h2 class="title catalog__title">Каталог продуктов</h2>
            <div class="catalog__filters">

                <button class="catalog__button"></button>

                <form class="catalog__form" action="#">
                    <select class="catalog__select" name="menu" id="menu-items">
                        <option disabled selected>По названию</option>
                        <option value="#">---------</option>
                        <option value="#">---------</option>
                        <option value="#">---------</option>
                        <option value="#">---------</option>
                    </select>


                    <select class="catalog__select" name="menu" id="menu-items">
                        <option disabled selected>по 12</option>
                        <option value="#">---</option>
                        <option value="#">---</option>
                        <option value="#">---</option>
                        <option value="#">---</option>
                    </select>
                </form>

            </div>
        </div>
        <div class="catalog__wrapper">
            <ul class="catalog__menu">

                <button class="catalog__button catalog__button--closed"></button>

                <li class="catalog__list">
                    <div class="catalog-categories">
                        <h3 class="catalog-categories__title">Категории</h3>

                        <ul class="catalog-categories__list">
                            <li class="catalog-categories__item">
                                <button class="catalog-categories__button" type="button">Бургеры</button>
                            </li>
                            <li class="catalog-categories__item">
                                <button class="catalog-categories__button" type="button">Пицца</button>
                            </li>
                            <li class="catalog-categories__item">
                                <button class="catalog-categories__button" type="button">Сендвичи</button>
                            </li>
                            <li class="catalog-categories__item">
                                <button class="catalog-categories__button" type="button">Азиатская
                                    кухня</button>
                            </li>
                            <li class="catalog-categories__item">
                                <button class="catalog-categories__button" type="button">Сеты</button>
                            </li>
                            <li class="catalog-categories__item">
                                <button class="catalog-categories__button" type="button">Европейская
                                    кухня</button>
                            </li>
                            <li class="catalog-categories__item">
                                <button class="catalog-categories__button" type="button">Напитки</button>
                            </li>
                            <li class="catalog-categories__item">
                                <button class="catalog-categories__button" type="button">Алкоголь</button>
                            </li>

                        </ul>

                    </div>
                </li>
                <li class="catalog__list">
                    <div class="catalog-categories">
                        <h3 class="catalog-categories__title">
                            Предложения
                        </h3>

                        <form class="catalog-categories__form" action="#">
                            <input class="catalog-categories__checkbox" type="checkbox" id="discount"
                                name="discount">

                            <label for="discount">Со скидкой</label>

                            <input class="catalog-categories__checkbox" type="checkbox" id="new" name="new">

                            <label for="new">Новинка</label>

                            <input class="catalog-categories__checkbox" type="checkbox" id="hit" name="hit">

                            <label for="hit">Хит</label>
                        </form>
                    </div>
                </li>
                <li class="catalog__list">
                    <div class="catalog-categories">
                        <h3 class="catalog-categories__title">
                            Цена
                        </h3>
                        <div class="catalog-categories__list">
                            <form class="catalog-slider" action="get">
                                <div class="catalog-slider__price">
                                    <label class="catalog-slider__name" for="from">
                                        от
                                        <input class="catalog-slider__field catalog-slider__field--from"
                                            type="text" name="from" id="from" value="0" />
                                    </label>

                                    <label class="catalog-slider__name" for="to">
                                        до
                                        <input class="catalog-slider__field catalog-slider__field--to"
                                            type="text" name="to" id="to" value="0" />
                                    </label>
                                </div>
                                <div class="catalog-slider__item">
                                    <input class="catalog-slider__range" type="text" value="" />
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="catalog-product">
                <ul class="catalog-product__list">
                    <li class="catalog-product__item">
                        <article class="product-card__item">
                            <a class="product-card__transition" href="product-page.html">
                                <img class="product-card__images" src="images/product/product-list.jpg"
                                    alt="Бургер" width="140">
                                <h3 class="product-card__text">Чизбургер с листьями салата</h3>
                            </a>
                            <span class="product-card__price">160 <span class="currency">грн.</span></span>
                            <button class="product-card__button" type="button">В корзину</button>
                        </article>
                    </li>

                    <li class="catalog-product__item">
                        <article class="product-card__item">
                            <a class="product-card__transition" href="product-page.html">
                                <img class="product-card__images" src="images/product/product-beef.jpg"
                                    alt="Бургер" width="140">
                                <h3 class="product-card__text">Бифбургер</h3>
                            </a>
                            <span class="product-card__price">160 <span class="currency">грн.</span></span>
                            <button class="product-card__button" type="button">В корзину</button>
                        </article>
                    </li>
                    <li class="catalog-product__item">
                        <article class="product-card__item">
                            <a class="product-card__transition" href="product-page.html">
                                <img class="product-card__images" src="images/product/product-chees.jpg"
                                    alt="Бургер" width="140">
                                <h3 class="product-card__text">Королевский чизбургер</h3>
                            </a>
                            <span class="product-card__price">160 <span class="currency">грн.</span></span>
                            <button class="product-card__button" type="button">В корзину</button>
                        </article>
                    </li>
                    <li class="catalog-product__item">
                        <article class="product-card__item">
                            <a class="product-card__transition" href="product-page.html">
                                <img class="product-card__images" src="images/product/product-black.jpg"
                                    alt="Бургер" width="140">
                                <h3 class="product-card__text">Черный гамбургер</h3>
                            </a>
                            <span class="product-card__price">160 <span class="currency">грн.</span></span>
                            <button class="product-card__button" type="button">В корзину</button>
                        </article>
                    </li>
                    <li class="catalog-product__item">
                        <article class="product-card__item">
                            <a class="product-card__transition" href="product-page.html">
                                <img class="product-card__images" src="images/product/product-list.jpg"
                                    alt="Бургер" width="140">
                                <h3 class="product-card__text">Чизбургер с листьями салата</h3>
                            </a>
                            <span class="product-card__price">160 <span class="currency">грн.</span></span>
                            <button class="product-card__button" type="button">В корзину</button>
                        </article>
                    </li>

                    <li class="catalog-product__item">
                        <article class="product-card__item">
                            <a class="product-card__transition" href="product-page.html">
                                <img class="product-card__images" src="images/product/product-beef.jpg"
                                    alt="Бургер" width="140">
                                <h3 class="product-card__text">Бифбургер</h3>
                            </a>
                            <span class="product-card__price">160 <span class="currency">грн.</span></span>
                            <button class="product-card__button" type="button">В корзину</button>
                        </article>
                    </li>
                    <li class="catalog-product__item">
                        <article class="product-card__item">
                            <a class="product-card__transition" href="product-page.html">
                                <img class="product-card__images" src="images/product/product-chees.jpg"
                                    alt="Бургер" width="140">
                                <h3 class="product-card__text">Королевский чизбургер</h3>
                            </a>
                            <span class="product-card__price">160 <span class="currency">грн.</span></span>
                            <button class="product-card__button" type="button">В корзину</button>
                        </article>
                    </li>
                    <li class="catalog-product__item">
                        <article class="product-card__item">
                            <a class="product-card__transition" href="product-page.html">
                                <img class="product-card__images" src="images/product/product-black.jpg"
                                    alt="Бургер" width="140">
                                <h3 class="product-card__text">Черный гамбургер</h3>
                            </a>
                            <span class="product-card__price">160 <span class="currency">грн.</span></span>
                            <button class="product-card__button" type="button">В корзину</button>
                        </article>
                    </li>
                    <li class="catalog-product__item">
                        <article class="product-card__item">
                            <a class="product-card__transition" href="product-page.html">
                                <img class="product-card__images" src="images/product/product-list.jpg"
                                    alt="Бургер" width="140">
                                <h3 class="product-card__text">Чизбургер с листьями салата</h3>
                            </a>
                            <span class="product-card__price">160 <span class="currency">грн.</span></span>
                            <button class="product-card__button" type="button">В корзину</button>
                        </article>
                    </li>

                    <li class="catalog-product__item">
                        <article class="product-card__item">
                            <a class="product-card__transition" href="product-page.html">
                                <img class="product-card__images" src="images/product/product-beef.jpg"
                                    alt="Бургер" width="140">
                                <h3 class="product-card__text">Бифбургер</h3>
                            </a>
                            <span class="product-card__price">160 <span class="currency">грн.</span></span>
                            <button class="product-card__button" type="button">В корзину</button>
                        </article>
                    </li>
                    <li class="catalog-product__item">
                        <article class="product-card__item">
                            <a class="product-card__transition" href="product-page.html">
                                <img class="product-card__images" src="images/product/product-chees.jpg"
                                    alt="Бургер" width="140">
                                <h3 class="product-card__text">Королевский чизбургер</h3>
                            </a>
                            <span class="product-card__price">160 <span class="currency">грн.</span></span>
                            <button class="product-card__button" type="button">В корзину</button>
                        </article>
                    </li>
                    <li class="catalog-product__item">
                        <article class="product-card__item">
                            <a class="product-card__transition" href="product-page.html">
                                <img class="product-card__images" src="images/product/product-black.jpg"
                                    alt="Бургер" width="140">
                                <h3 class="product-card__text">Черный гамбургер</h3>
                            </a>
                            <span class="product-card__price">160 <span class="currency">грн.</span></span>
                            <button class="product-card__button" type="button">В корзину</button>
                        </article>
                    </li>
                </ul>

                <div class="catalog-pagination">
                    <a class="catalog-pagination__link catalog-pagination__prev catalog-pagination__prev--active"
                        href="#">

                    </a>

                    <ul class="catalog-pagination__list">
                        <li class="catalog-pagination__item">
                            <a class="catalog-pagination__link" href="#">
                                1
                            </a>
                        </li>
                        <li class="catalog-pagination__item">
                            <a class="catalog-pagination__link" href="#">
                                2
                            </a>
                        </li>
                        <li class="catalog-pagination__item">
                            <a class="catalog-pagination__link" href="#">
                                ...
                            </a>
                        </li>
                        <li class="catalog-pagination__item">
                            <a class="catalog-pagination__link" href="#">
                                9
                            </a>
                        </li>
                        <li class="catalog-pagination__item">
                            <a class="catalog-pagination__link" href="#">
                                10
                            </a>
                        </li>
                    </ul>

                    <a class="catalog-pagination__link catalog-pagination__next" href="#">

                    </a>
                </div>
            </div>
        </div>

    </div>
</section>
