<section class="description">
    <div class="container">
        <ul class="description__list">
            <li class="description__item">
                <button class="description__button" data-filter=".category-a" type="button">
                    Описание
                </button>
            </li>
            <li class="description__item">
                <button class="description__button" data-filter=".category-b" type="button">
                    Характеристики
                </button>
            </li>
            <li class="description__item">
                <button class="description__button" data-filter=".category-c" type="button">
                    Отзывы <span>(2)</span>
                </button>
            </li>
        </ul>

        <div class="description__wrapper">

            <div class="description__box mix category-a">
                <ul class="description-info">
                    <li class="description-info__item">
                        <p>
                            Рубленый бифштекс из натуральной говядины на карамелизованной булочке, с ломтиком сыра
                            «Чеддер»,
                            кетчупом, горчицей, луком и маринованными огурчиками.
                        </p>
                    </li>
                    <li class="description-info__item">
                        <p>
                            Аллергены: Глютен, Молоко, Горчица, Может содержать сою, яйцо, следы кунжута
                        </p>
                    </li>
                    <li class="description-info__item">
                        <p>
                            Внешний вид товара может отличаться от изображений, представленных на сайте.
                        </p>
                    </li>
                </ul>
            </div>

            <div class="description__box mix category-b">
                <ul class="description-characteristics mix category-b">
                    <li class="description-characteristics__item">
                        <span class="description-characteristics__info">
                            Диаметр: <span>20 см</span>
                        </span>
                    </li>
                    <li class="description-characteristics__item">
                        <span class="description-characteristics__info">
                            Вес: <span>300 гр</span>
                        </span>
                    </li>
                    <li class="description-characteristics__item">
                        <span class="description-characteristics__info">
                            Калорийность <span>(на 100г)</span>: <span>295 ккал</span>
                        </span>
                    </li>
                    <li class="description-characteristics__item">
                        <span class="description-characteristics__info">
                            Срок хранения: <span>до 3 дней</span>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="description__box mix category-c">

                <div class="description-reviews ">

                    <h3 class="description__title">Мнения наших клиентов</h3>

                    <ul class="description-reviews__list">

                        <li class="description-reviews__item">
                            <div class="description-reviews__box">

                                <div class="description-reviews__info">
                                    <img class="description-reviews__img"
                                        src="images/product-page-images/client-img.jpg" alt="Фото Клієнта">
                                    <div class="description-reviews__inner">
                                        <span class="description-reviews__name">Андрей</span>
                                        <span class="description-reviews__date">10.06.2021</span>
                                    </div>
                                </div>

                                <div class="star" data-rateyo-rating="5"></div>

                            </div>

                            <div class="description-reviews__text">
                                <p>
                                    Доставили быстро. Товар свежий и очень вкусный, буду пробовать еще!))
                                </p>
                            </div>
                        </li>

                        <li class="description-reviews__item">
                            <div class="description-reviews__box">

                                <div class="description-reviews__info">
                                    <img class="description-reviews__img"
                                        src="images/product-page-images/client-img.jpg" alt="Фото Клієнта">
                                    <div class="description-reviews__inner">
                                        <span class="description-reviews__name">Екатерина Белая</span>
                                        <span class="description-reviews__date">7.06.2021</span>
                                    </div>
                                </div>

                                <div class="star" data-rateyo-rating="4"></div>

                            </div>

                            <div class="description-reviews__text">
                                <p>
                                    этот бургер неплохой чтобы перекусить, когда нет возможности или времени что-нибудь
                                    приготовить. Это отличный вариант, чтобы съесть на ходу, но чтобы побаловать себя, я
                                    больше
                                    предпочту пиццу
                                </p>
                            </div>
                        </li>

                    </ul>


                    <div class="add-review">
                        <h3 class="description__title">
                            Оставить отзыв
                        </h3>

                        <div class="add-review__rating">
                            <span class="add-review__grade">Ваша оценка *</span>
                            <div class="add-review__star"></div>
                        </div>

                        <form class="add-review__form" action="">

                            <div class="add-review__box">
                                <div class="add-review__info">
                                    <label class="add-review__label">Ваш отзыв *</label>
                                    <textarea class="add-review__input add-review__input--text" type="text"
                                        placeholder="Введите текст отзыва"></textarea>
                                </div>
                                <div class="add-review__info add-review__info--size">
                                    <label for="" class="add-review__label">Имя</label>
                                    <input class="add-review__input" id="" name="" placeholder="Введите ваше имя">

                                    <label class="add-review__label">Email *</label>
                                    <input class="add-review__input" type="text" placeholder="youremail@mail.com">
                                </div>
                            </div>

                        </form>

                        <form class="add-review__form" action="">
                            <input class="add-review__checkbox" type="checkbox" id="hit" name="hit">

                            <label for="hit">
                                Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих
                                комментариев.
                            </label>
                        </form>

                        <button class="button add-review__button" type="button">Оставить отзыв</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>