<section class="discount">
    <div class="container">
        <h2 class="title discount__title">
            Акции и скидки
        </h2>

        <ul class="discount__list">
            <li class="discount__item">
                <article class="discount-card">
                    <a class="discount-card__link" href="#">
                        <img class="disscount-card__img" src="images/discount/discount_pizza.jpg" alt="Піца"
                            width="370" height="300">
                        <div class="discount-card__text">
                            <p>Скидка 50% на вторую пиццу</p>
                        </div>
                    </a>
                </article>
            </li>

            <li class="discount__item">
                <article class="discount-card">
                    <a class="discount-card__link" href="#">
                        <img class="discount-card__img" src="images/discount/discount_free.jpg"
                            alt="Картошечка из KFC" width="370" height="300">
                        <div class="discount-card__text">
                            <p>Картошечка из KFC даром при заказе бургера </p>
                        </div>
                    </a>
                </article>
            </li>

            <li class="discount__item">
                <article class="discount-card">
                    <a class="discount-card__link" href="#">
                        <img class="discount-card__img" src="images/discount/discount_burger.jpg"
                            alt="Чёрные бургеры" width="370" height="300">
                        <div class="discount-card__text">
                            <p>Чёрные бургеры на чёрный день </p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </div>
</section>