<footer class="footer">
    <div class="container">
        <div class="footer-container">
            <form class="footer-form" action="#" method="get" name="email">
                <a class="logo footer__logo" href="">
                    <img src="images/header-images/logo.svg" alt="Логотип">
                </a>
                <label for="email" class="footer-form__label">
                    <input class="footer-form__input" type="email" id="email" name="email"
                        placeholder="Ваш email" required>
                </label>
                <button class="footer-form__button" type="submit">Подписаться</button>
            </form>

            <ul class="footer-about">
                <li class="footer-about__item">
                    <a class="footer-about__link" href="#">Как это работает</a>
                </li>
                <li class="footer-about__item">
                    <a class="footer-about__link" href="#">О нас</a>
                </li>
                <li class="footer-about__item">
                    <a class="footer-about__link" href="#">Скачать приложение</a>
                </li>
                <li class="footer-about__item">
                    <a class="footer-about__link" href="#">Продукты</a>
                </li>

                <li class="footer-about__item">
                    <a class="footer-about__link" href="#">Новости</a>
                </li>
                <li class="footer-about__item">
                    <a class="footer-about__link" href="#">Блог</a>
                </li>
                <li class="footer-about__item">
                    <a class="footer-about__link" href="#">Блюда</a>
                </li>
                <li class="footer-about__item">
                    <a class="footer-about__link" href="#">Партнеры</a>
                </li>

                <li class="footer-about__item">
                    <a class="footer-about__link" href="#">Что нового?</a>
                </li>
                <li class="footer-about__item">
                    <a class="footer-about__link" href="#">Меню</a>
                </li>
                <li class="footer-about__item">
                    <a class="footer-about__link" href="#">ЧаВо</a>
                </li>
                <li class="footer-about__item">
                    <a class="footer-about__link" href="#">Карта сайта</a>
                </li>

            </ul>

            <address class=" footer-contacts">
                <ul class="footer-contacts__menu">
                    <li class="footer-contacts__list">
                        <a class="footer-contacts__links footer-contacts__links--location" href="#">
                            ул.Т.Г.Шевченко, 1
                        </a>
                    </li>
                    <li class="footer-contacts__list">
                        <a class="footer-contacts__links footer-contacts__links--call" href="tel:+380501112233">
                            380501112233
                        </a>

                    </li>
                    <li class="footer-contacts__list">
                        <a class="footer-contacts__links footer-contacts__links--message" href="mailto:support@sfood.com">
                            support@sfood.com
                        </a>
                    </li>
                </ul>
                <ul class="footer-contacts__messengers">
                    <li class="footer-contacts__item">
                        <a class="footer-contacts__social" href="#"
                            style="background-image: url('images/sprite.svg#icon-facebook')">
                            <span class="sr-only">Посилання на Фейсбук</span>
                        </a>
                    </li>
                    <li class="footer-contacts__item">
                        <a class="footer-contacts__social" href="#"
                            style="background-image: url('images/sprite.svg#icon-twitter')"><span
                                class="sr-only">Посилання на Твіттер</span></a>
                    </li>
                    <li class="footer-contacts__item">
                        <a class="footer-contacts__social" href="#"
                            style="background-image: url('images/sprite.svg#icon-instagram')"><span
                                class="sr-only">посилання на інстаграм</span></a>
                    </li>
                </ul>

            </address>

        </div>
    </div>

    <span class="footer-bottom">© 2022 Simple Food</span>

</footer>
