<body>
    <div class="wrapper">

        <header class="header">

            <div class="container">

                <div class="header__fixed">
                    <div class="header__top">
                        <a class="logo header__logo" href="#">
                            <img src="images/header-images/logo.svg" alt="Логотип" width="200" height="39">
                            <span class="sr-only">Логотип</span>
                        </a>

                        <nav class="header__menu">
                            <ul class="header__navigation">
                                <li class="header__item">
                                    <a class="header__link header__link--active" href="#">
                                        Главная
                                    </a>
                                </li>
                                <li class="header__item">
                                    <a class="header__link" href="#">
                                        Блюда
                                    </a>
                                </li>
                                <li class="header__item">
                                    <a class="header__link" href="#">
                                        Контакты
                                    </a>
                                </li>

                            </ul>
                            <ul class="header__button">
                                <li class="header__list">
                                    <button class="header__icon header__icon--search" type="button">
                                        <span class="sr-only">Пошук по сайту</span>
                                    </button>
                                </li>
                                <li class="header__list">
                                    <button class="header__icon header__icon--basket" type="button">
                                        <span class="sr-only">Кошик замовлень</span>
                                        <span class="header__number">4</span>
                                    </button>
                                </li>
                            </ul>

                            <button class="burger" type="button">
                                <span class="burger__line"></span>
                                <span class="sr-only">Відкрити меню</span>
                            </button>


                        </nav>
                    </div>
                </div>
            </div>

            <div class="mobile">
                <div class="mobile__header">
                    <a href="" class="logo mobile__logo">
                        <img src="images/header-images/logo.svg" alt="">
                    </a>

                    <button class="mobile__button" type="button"></button>                    
                </div>

                <nav class="mobile__menu">
                    <ul class="mobile__list">
                        <li class="header__item mobile__item">
                            <a class="header__link header__link--active" href="#">
                                Главная
                            </a>
                        </li>
                        <li class="header__item mobile__item">
                            <a class="header__link" href="#">
                                Блюда
                            </a>
                        </li>
                        <li class="header__item mobile__item">
                            <a class="header__link" href="#">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>

                <nav class="mobile__contacts">
                    <ul class="footer-contacts__menu">
                        <li class="footer-contacts__list">
                            <a class="footer-contacts__links footer-contacts__links--location" href="#">
                                ул.Т.Г.Шевченко, 1
                            </a>
                        </li>
                        <li class="footer-contacts__list">
                            <a class="footer-contacts__links footer-contacts__links--call" href="tel:+380501112233">
                                380501112233
                            </a>

                        </li>
                        <li class="footer-contacts__list">
                            <a class="footer-contacts__links footer-contacts__links--message"
                                href="mailto:support@sfood.com">
                                support@sfood.com
                            </a>
                        </li>
                    </ul>

                    <ul class="footer-contacts__messengers">
                        <li class="footer-contacts__item">
                            <a class="footer-contacts__social" href="#"
                                style="background-image: url('images/sprite.svg#icon-facebook')">
                                <span class="sr-only">Посилання на Фейсбук</span>
                            </a>
                        </li>
                        <li class="footer-contacts__item">
                            <a class="footer-contacts__social" href="#"
                                style="background-image: url('images/sprite.svg#icon-twitter')"><span
                                    class="sr-only">Посилання на Твіттер</span></a>
                        </li>
                        <li class="footer-contacts__item">
                            <a class="footer-contacts__social" href="#"
                                style="background-image: url('images/sprite.svg#icon-instagram')"><span
                                    class="sr-only">посилання на інстаграм</span></a>
                        </li>
                    </ul>
                </nav>


            </div>

        </header>