<section class="proposes-slider">
    <div class="container">

        <div class="proposes-slider__box">
            <h2 class="title proposes-slider__title">
                Вас может заинтересовать
            </h2>

            <div class="proposes-slider__arrows"></div>
        </div>

        <div class="proposes-slider__inner">
            <ul class="proposes-slider__list">

                <li class="proposes-slider__link">
                    <article class="product-card__item">
                        <a class="product-card__transition" href="#">
                            <img class="product-card__images" src="images/product/product-list.jpg" alt="Бургер"
                                width="140">
                            <h3 class="product-card__text">Чизбургер с листьями салата</h3>
                        </a>
                        <span class="product-card__price">160 <span class="currency">грн.</span></span>
                        <button class="product-card__button" type="button">В корзину</button>
                    </article>
                </li>

                <li class="proposes-slider__link">
                    <article class="product-card__item">
                        <a class="product-card__transition" href="#">
                            <img class="product-card__images" src="images/product/product-beef.jpg" alt="Бургер"
                                width="140">
                            <h3 class="product-card__text">Бифбургер</h3>
                        </a>
                        <span class="product-card__price">160 <span class="currency">грн.</span></span>
                        <button class="product-card__button" type="button">В корзину</button>
                    </article>
                </li>
                <li class="proposes-slider__link">
                    <article class="product-card__item">
                        <a class="product-card__transition" href="#">
                            <img class="product-card__images" src="images/product/product-chees.jpg" alt="Бургер"
                                width="140">
                            <h3 class="product-card__text">Королевский чизбургер</h3>
                        </a>
                        <span class="product-card__price">160 <span class="currency">грн.</span></span>
                        <button class="product-card__button" type="button">В корзину</button>
                    </article>
                </li>
                <li class="proposes-slider__link">
                    <article class="product-card__item">
                        <a class="product-card__transition" href="#">
                            <img class="product-card__images" src="images/product/product-black.jpg" alt="Бургер"
                                width="140">
                            <h3 class="product-card__text">Черный гамбургер</h3>
                        </a>
                        <span class="product-card__price">160 <span class="currency">грн.</span></span>
                        <button class="product-card__button" type="button">В корзину</button>
                    </article>
                </li>

                <li class="proposes-slider__link">
                    <article class="product-card__item">
                        <a class="product-card__transition" href="#">
                            <img class="product-card__images" src="images/product/product-chiken.jpg" alt="Бургер"
                                width="140">
                            <h3 class="product-card__text">Чикен бургер</h3>
                        </a>
                        <span class="product-card__price">160 <span class="currency">грн.</span></span>
                        <button class="product-card__button" type="button">В корзину</button>
                    </article>
                </li>

                <li class="proposes-slider__link">
                    <article class="product-card__item">
                        <a class="product-card__transition" href="#">
                            <img class="product-card__images" src="images/product/product-list.jpg" alt="Бургер"
                                width="140">
                            <h3 class="product-card__text">Чизбургер с листьями салата</h3>
                        </a>
                        <span class="product-card__price">160 <span class="currency">грн.</span></span>
                        <button class="product-card__button" type="button">В корзину</button>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</section>