<section class="product ">

    <div class="container">
        <h2 class="title product__title">
            Популярные категории
        </h2>

        <ul class="product__menu">
            <li class="product__item">
                <button class="product__button product__button--active product__button--burger "
                    type="button">Бургеры</button>
            </li>
            <li class="product__item">
                <button class="product__button product__button--pizza" type="button">Пицца</button>
            </li>
            <li class="product__item">
                <button class="product__button product__button--sandvich" type="button">Сендвичи</button>
            </li>
            <li class="product__item">
                <button class="product__button product__button--asian" type="button">Азиатская
                    кухня</button>
            </li>
            <li class="product__item">
                <button class="product__button product__button--sets" type="button">Cеты</button>
            </li>
        </ul>

        <ul class="product-card">
            <li class="product-card__list">
                <article class="product-card__item">
                    <a class="product-card__transition" href="#">
                        <img class="product-card__images" src="images/product/product-list.jpg" alt="Бургер"
                            width="140">
                        <h3 class="product-card__text">Чизбургер с листьями салата</h3>
                    </a>
                    <span class="product-card__price">160 <span class="currency">грн.</span></span>
                    <button class="product-card__button" type="button">В корзину</button>
                </article>
            </li>
            <li class="product-card__list">
                <article class="product-card__item">
                    <a class="product-card__transition" href="#">
                        <img class="product-card__images" src="images/product/product-beef.jpg" alt="Бургер"
                            width="140">
                        <h3 class="product-card__text">Бифбургер</h3>
                    </a>
                    <span class="product-card__price">160 <span class="currency">грн.</span></span>
                    <button class="product-card__button" type="button">В корзину</button>
                </article>
            </li>
            <li class="product-card__list">
                <article class="product-card__item">
                    <a class="product-card__transition" href="#">
                        <img class="product-card__images" src="images/product/product-chees.jpg" alt="Бургер"
                            width="140">
                        <h3 class="product-card__text">Королевский чизбургер</h3>
                    </a>
                    <span class="product-card__price">160 <span class="currency">грн.</span></span>
                    <button class="product-card__button" type="button">В корзину</button>
                </article>
            </li>
            <li class="product-card__list">
                <article class="product-card__item">
                    <a class="product-card__transition" href="#">
                        <img class="product-card__images" src="images/product/product-black.jpg" alt="Бургер"
                            width="140">
                        <h3 class="product-card__text">Черный гамбургер</h3>
                    </a>
                    <span class="product-card__price">160 <span class="currency">грн.</span></span>
                    <button class="product-card__button" type="button">В корзину</button>
                </article>
            </li>
            <li class="product-card__list">
                <article class="product-card__item">
                    <a class="product-card__transition" href="#">
                        <img class="product-card__images" src="images/product/product-chiken.jpg" alt="Бургер"
                            width="140">
                        <h3 class="product-card__text">Чикен бургер</h3>
                    </a>
                    <span class="product-card__price">160 <span class="currency">грн.</span></span>
                    <button class="product-card__button" type="button">В корзину</button>
                </article>
            </li>
            <li class="product-card__list">
                <article class="product-card__item">
                    <a class="product-card__transition" href="#">
                        <img class="product-card__images" src="images/product/product-list.jpg" alt="Бургер" width="140"
                            height="140">
                        <h3 class="product-card__text">Чизбургер с листьями салата</h3>
                    </a>
                    <span class="product-card__price">160 <span class="currency"></span> грн.</span>
                    <button class="product-card__button" type="button">В корзину</button>
                </article>
            </li>
            <li class="product-card__list">
                <article class="product-card__item">
                    <a class="product-card__transition" href="#">
                        <img class="product-card__images" src="images/product/product-beef.jpg" alt="Бургер"
                            width="140">
                        <h3 class="product-card__text">Бифбургер</h3>
                    </a>
                    <span class="product-card__price">160 <span class="currency"></span> грн.</span>
                    <button class="product-card__button" type="button">В корзину</button>
                </article>
            </li>
            <li class="product-card__list">
                <article class="product-card__item">
                    <a class="product-card__transition" href="#">
                        <img class="product-card__images" src="images/product/product-chees.jpg" alt="Бургер"
                            width="140">
                        <h3 class="product-card__text">Королевский чизбургер</h3>
                    </a>
                    <span class="product-card__price">160 <span class="currency">грн.</span></span>
                    <button class="product-card__button" type="button">В корзину</button>
                </article>
            </li>
            <li class="product-card__list">
                <article class="product-card__item">
                    <a class="product-card__transition" href="#">
                        <img class="product-card__images" src="images/product/product-black.jpg" alt="Бургер"
                            width="140">
                        <h3 class="product-card__text">Чизбургер с листьями салата</h3>
                    </a>
                    <span class="product-card__price">160 <span class="currency">грн.</span></span>
                    <button class="product-card__button" type="button">В корзину</button>
                </article>
            </li>
            <li class="product-card__list">
                <article class="product-card__item">
                    <a class="product-card__transition" href="#">
                        <img class="product-card__images" src="images/product/product-chiken.jpg" alt="Бургер"
                            width="140">
                        <h3 class="product-card__text">Черный гамбургер</h3>
                    </a>
                    <span class="product-card__price">160 <span class="valut">грн.</span></span>
                    <button class="product-card__button" type="button">В корзину</button>
                </article>
            </li>
        </ul>

        <button class="show__more show__more--center" type="button">Показать еще</button>

    </div>

</section>