<section class="restaurant">
    <div class="container">
        <h2 class="title restaurant__title">Лучшие рестораны</h2>

        <ul class="restaurant__box">
            <li class="restaurant__list">
                <article class="restaurant-card">
                    <a class="restaurant-card__link" href="#">
                        <img class="restaurant-card__img" src="images/restaurant/blaze.jpg" alt="Рестораны"
                            width="370" height="300">
                        <h3 class="restaurant-card__text">Blaze Pizza</h3>
                        <div class="restaurant-card__info">
                            <span class="restaurant-card__data">
                                <span>11:00</span> - <span>22:00</span>
                            </span>
                            <a class="restaurant-card__btn" href="#" target="_blank">
                                <span class="sr-only">Перейти на сайт товару</span>
                            </a>
                        </div>
                    </a>
                </article>
            </li>
            <li class="restaurant__list">
                <article class="restaurant-card">
                    <a class="restaurant-card__link" href="#">
                        <img class="restaurant-card__img" src="images/restaurant/runcho.jpg" alt="Рестораны"
                            width="370" height="300">
                        <h3 class="restaurant-card__text">Pizza Runcho</h3>
                        <div class="restaurant-card__info">
                            <span class="restaurant-card__data">
                                <span>12:00</span> - <span>21:00</span>
                            </span>
                            <a class="restaurant-card__btn" href="#" target="_blank">
                                <span class="sr-only">Перейти на сторінку Pizza Runcho</span>
                            </a>
                        </div>
                    </a>
                </article>
            </li>
            <li class="restaurant__list">
                <article class="restaurant-card">
                    <a class="restaurant-card__link" href="#">
                        <img class="restaurant-card__img" src="images/restaurant/hut.jpg" alt="Рестораны"
                            width="370" height="300">
                        <h3 class="restaurant-card__text">Pizza Hut</h3>
                        <div class="restaurant-card__info">
                            <span class="restaurant-card__data">
                                <span>11:00</span> - <span>22:00</span>
                            </span>
                            <a class="restaurant-card__btn" href="#" target="_blank">
                                <span class="sr-only">Перейти на сторінку Pizza Hut</span>
                            </a>
                        </div>
                    </a>
                </article>
            </li>
            <li class="restaurant__list">
                <article class="restaurant-card">
                    <a class="restaurant-card__link" href="#">
                        <img class="restaurant-card__img" src="images/restaurant/mc_donald.jpg"
                            alt="Рестораны" width="370" height="300">
                        <h3 class="restaurant-card__text">McDonald`s</h3>
                        <div class="restaurant-card__info">
                            <span class="restaurant-card__data">
                                <span>06:00</span> - <span>23:00</span>
                            </span>
                            <a class="restaurant-card__btn" href="#" target="_blank">
                                <span class="sr-only">Перейти на сторінку McDonald`s</span>
                            </a>
                        </div>
                    </a>
                </article>
            </li>
            <li class="restaurant__list">
                <article class="restaurant-card">
                    <a class="restaurant-card__link" href="#">
                        <img class="restaurant-card__img" src="images/restaurant/kfc.jpg" alt="Рестораны"
                            width="370" height="300">
                        <h3 class="restaurant-card__text">KFC</h3>
                        <div class="restaurant-card__info">
                            <span class="restaurant-card__data">
                                <span>06:00</span> - <span>23:00</span>
                            </span>
                            <a class="restaurant-card__btn" href="#" target="_blank">
                                <span class="sr-only">Перейти на сторінку KFC</span>
                            </a>
                        </div>
                    </a>
                </article>
            </li>
            <li class="restaurant__list">
                <article class="restaurant-card">
                    <a class="restaurant-card__link" href="#">
                        <img class="restaurant-card__img" src="images/restaurant/star_burger.jpg"
                            alt="Рестораны" width="370" height="300">
                        <h3 class="restaurant-card__text">Star Burgers</h3>
                        <div class="restaurant-card__info">
                            <span class="restaurant-card__data">
                                <span>09:00</span> - <span>21:00</span>
                            </span>
                            <a class="restaurant-card__btn" href="#" target="_blank">
                                <span class="sr-only">Перейти на сторінку Star Burgers</span>
                            </a>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </div>
</section> 