<section class="reviews">
    <div class="container">
        <h2 class="title reviews__title">Отзывы клиентов</h2>
        <ul class="reviews-slider">
            <li class="reviews-slider__list">
                <article class="reviews-card">
                    <img class="reviews-card__img" src="images/reviews.jpg" alt="Дарья">
                    <div class="reviews-card__info">
                        <blockquote class="reviews-card__text">
                            <p>
                                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе.
                                Очень
                                удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны.
                                Компания
                                часто
                                проводит акции и дарит скидки на доставку - однозначно рекомендую!
                            </p>
                        </blockquote>
                        <span class="reviews-card__name">Дарья</span>
                        <span class="reviews-card__about">Ценитель вкусной еды</span>
                    </div>
                </article>
            </li>
            <li class="reviews-slider__list">
                <article class="reviews-card">
                    <img class="reviews-card__img" src="images/reviews.jpg" alt="Дарья">
                    <div class="reviews-card__info">
                        <div class="reviews-card__text">
                            <p>
                                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе.
                                Очень
                                удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны.
                                Компания
                                часто
                                проводит акции и дарит скидки на доставку - однозначно рекомендую!
                            </p>
                        </div>
                        <span class="reviews-card__name">Дарья</span>
                        <span class="reviews-card__about">Ценитель вкусной еды</span>
                    </div>
                </article>
            </li>
            <li class="reviews-slider__list">
                <article class="reviews-card">
                    <img class="reviews-card__img" src="images/reviews.jpg" alt="Дарья">
                    <div class="reviews-card__info">
                        <div class="reviews-card__text">
                            <p>
                                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе.
                                Очень
                                удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны.
                                Компания
                                часто
                                проводит акции и дарит скидки на доставку - однозначно рекомендую!
                            </p>
                        </div>
                        <span class="reviews-card__name">Дарья</span>
                        <span class="reviews-card__about">Ценитель вкусной еды</span>
                    </div>
                </article>
            </li>
            <li class="reviews-slider__list">
                <article class="reviews-card">
                    <img class="reviews-card__img" src="images/reviews.jpg" alt="Дарья">
                    <div class="reviews-card__info">
                        <div class="reviews-card__text">
                            <p>
                                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе.
                                Очень
                                удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны.
                                Компания
                                часто
                                проводит акции и дарит скидки на доставку - однозначно рекомендую!
                            </p>
                        </div>
                        <span class="reviews-card__name">Дарья</span>
                        <span class="reviews-card__about">Ценитель вкусной еды</span>
                    </div>
                </article>
            </li>

        </ul>

        <div class="reviews__navigation">
            <div class="reviews__arrows"></div>
        </div>
    </div>
</section>